{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1 class="center-text">About Me</h1>
          <h5 class="center-text">Welcome to my Research and Teaching Hub</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 justify-text">
        <p>
          I am a dedicated research analyst with over 12 years of experience in the field of energy, exergy, economic,
          environmental, and optimization analyses of renewable energy-driven thermal and refrigeration systems.
          My passion lies in exploring sustainable solutions to real-world engineering challenges,
          and I specialize in leveraging simulation tools such as Ansys, MATLAB, and Python to drive innovation.
        </p>
        <p>
          With over 12 years of teaching experience, I've had the privilege of instructing a diverse range of
          engineering subjects. My areas of expertise encompass Fluid Mechanics, Thermodynamics, Engineering Graphics,
          Data Analysis using Python, and Computational Fluid Dynamics. In these courses, I emphasize practical learning,
          problem-solving skills, and the application of cutting-edge tools like Python for data analysis and simulations
          in real-world engineering scenarios. My goal is to equip students with the knowledge and skills they need to
          excel in today's rapidly evolving engineering landscape.
        </p>
        <p>
          My teaching philosophy revolves around bridging theory and practice. I empower students by providing them with
          hands-on experience and real-world applications, ensuring they are well-prepared to tackle complex engineering
          challenges. Whether it's understanding the principles of fluid behavior, grasping the fundamentals of
          thermodynamics, honing graphical and visualization skills, or harnessing the power of data analysis and
          computational fluid dynamics, my approach is geared towards fostering a deep understanding of engineering
          concepts and their practical implementation.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
